.measurements {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.measurements__title {
    flex: 0 0 50%;
    margin: 0;
}

.measurements__value {
    flex: 0 0 50%;
    margin: 0;
    text-align: left;
}