:global(body) {
    background-color: rgb(200, 170, 150);
    background-image: url(/static/images/background.jpg);
    background-size: 100%;
    padding-top: 30px;
    animation: slide 120s linear infinite alternate;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}